body, html {
    background-image: url('./coepSketch.jpg');
    background-size: cover;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    margin: 30px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    width: 250px;
    background-color: #2f2f2f; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    color: #ffffff;
}

.profile {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.user-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin-top: 20px; /* Add some margin to top */
}

.nav li {
    margin-bottom: 15px;
}

.nav a {
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    background-color: #2f2f2f; /* Darker Grey Background */
    transition: background-color 0.3s ease;
}

.nav a:hover, .nav a.active {
    background-color: #555555;
     /* Dark Grey Hover Color */
}

.content {
    width: 85%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
